body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
    color: aliceblue;
}

.header{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.subheader{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}

.mainContainer{
    display: flex;
    justify-content: center;
}

#roll{
    max-width: 500px;
    max-height: 550px;
    border: none;
}
#resetBtn{
    border: none;
}

